.idea/
.git/
.circleci/
.github/
public/storage
bootstrap/cache/*
node_modules/
storage/app/*
storage/framework/cache/*
storage/framework/testing/*
storage/logs/*
.styleci.yml
phpunit.xml
README.md
.editorconfig
.env
.gitattributes
.DS_Store
